@use 'sass:map';
@use 'sass:string';
@use 'sass:color';
@use 'functions' as *;
@use 'vars' as *;

@mixin breakpoint($size) {
	@if map.get($sizes, $size) {
		@media (min-width: map.get($sizes, $size) + px) {
			@content;
		}
	}

	@else {
		@error 'Unknown size: #{$size}';
	}
}

/* stylelint-disable function-url-quotes */
@mixin font_face($name, $filename, $weight: 400, $style: normal, $ext: woff2) {
	@font-face {
		font-family: string.quote($name);
		font-weight: $weight;
		font-style: $style;
		font-display: swap;
		src:
			url(string.quote("../assets/fonts/" + $filename + "." + $ext))
			format(string.quote($ext));
	}
}
/* stylelint-enable */

@mixin strike_out() {
	position: relative;

	&::after {
		content: '';
		position: absolute;
		top: 50%;
		right: 100%;
		left: 0;
		border-bottom: 0.07em solid $rouge_red;
		transform: translateY(-50%);
	}
}

@mixin hover($selector: null, $combinator: ' ') {
	@if $selector {
		#{$selector} {
			@include strike_out();
		}
	}

	@else {
		@include strike_out();
	}

	@media (hover: hover) {
		&:hover#{$combinator}#{$selector} {
			@content;

			&::after {
				animation-name: line;
				animation-duration: 1.5s;
				animation-timing-function: ease-in-out;
				animation-iteration-count: infinite;
			}
		}
	}

	@keyframes line {
		0%,
		10% {
			right: 100%;
			left: 0;
		}

		40%,
		60% {
			right: 0;
			left: 0;
		}

		90%,
		100% {
			right: 0;
			left: 100%;
		}
	}
}

@mixin active($color) {
	background-position: center;
	background-image:
		radial-gradient(
			circle,
			$crystal calc(1% - 1px),
			color.scale($color, $lightness: -50%) 1%
		);
	background-size: 15000%;
	transition-property: background-size;
	transition-duration: calc(var(--transition_duration) / 2);

	&:active {
		background-color: $crystal;
		background-size: 100%;
		color: color.scale($color, $lightness: 80%);
		transition-property: background-size;
		transition-duration: 0s;
	}
}

@mixin truncate_multiline_text(
	$lh: $base_line_height,
	$unit: 1em,
	$breakpoint: 4,
	$color-bg: $white,
	$min-height: false
) {
	$height: calc((#{$breakpoint} * #{$lh}) * #{$unit});

	position: relative;
	min-height: if($min-height, $height, auto);
	max-height: $height;
	overflow: hidden;
	background-color: $color-bg;
	line-height: $lh;

	&::after {
		content: '';
		position: absolute;
		right: 0;
		bottom: 0;
		z-index: 1;
		width: calc((#{$lh} * #{$unit}) + 3ch);
		height: calc(((((#{$breakpoint} - 1) * #{$lh}) * #{$unit}) - 100%) * -1000);
		max-height: calc(#{$lh} * #{$unit});
		background-image: linear-gradient(to right, $crystal, $color-bg 50%);
	}
}

@mixin truncate_text() {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

@mixin container() {
	padding-right: 5vw;
	padding-left: 5vw;
}

@mixin spinner(
	$color: $king_tide,
	$duration: 1.5s,
	$size: 1.5em,
	$gap: $size / 5,
) {
	$unique-name: string.unique-id();

	position: relative;
	width: $size;
	height: $size;
	margin: 0 auto;
	animation-name: spinner_#{$unique-name};
	animation-duration: $duration;
	animation-timing-function: ease;
	animation-iteration-count: infinite;

	@keyframes spinner_#{$unique-name} {
		0%,
		100% {
			box-shadow:
				-($size / 2 + $gap / 2) $size 0 $color,
				($size / 2 + $gap / 2) $size 0 rgba($color, 0.2),
				($size / 2 + $gap / 2) (($size * 2) + $gap) 0 rgba($color, 0.2),
				-($size / 2 + $gap / 2) (($size * 2) + $gap) 0 rgba($color, 0.2);
		}

		25% {
			box-shadow:
				-($size / 2 + $gap / 2) $size 0 rgba($color, 0.2),
				($size / 2 + $gap / 2) $size 0 $color,
				($size / 2 + $gap / 2) (($size * 2) + $gap) 0 rgba($color, 0.2),
				-($size / 2 + $gap / 2) (($size * 2) + $gap) 0 rgba($color, 0.2);
		}

		50% {
			box-shadow:
				-($size / 2 + $gap / 2) $size 0 rgba($color, 0.2),
				($size / 2 + $gap / 2) $size 0 rgba($color, 0.2),
				($size / 2 + $gap / 2) (($size * 2) + $gap) 0 $color,
				-($size / 2 + $gap / 2) (($size * 2) + $gap) 0 rgba($color, 0.2);
		}

		75% {
			box-shadow:
				-($size / 2 + $gap / 2) $size 0 rgba($color, 0.2),
				($size / 2 + $gap / 2) $size 0 rgba($color, 0.2),
				($size / 2 + $gap / 2) (($size * 2) + $gap) 0 rgba($color, 0.2),
				-($size / 2 + $gap / 2) (($size * 2) + $gap) 0 $color;
		}
	}
}
