@import 'normalize/opinionated.css';

* {
	margin: 0;
	padding: 0;
}

*,
::before,
::after {
	box-sizing: border-box;

	/* stylelint-disable time-min-milliseconds */
	@media (prefers-reduced-motion: reduce) {
		scroll-behavior: auto !important;
		transition-duration: 0.001s !important;
		animation-duration: 0.001s !important;
		animation-iteration-count: 1 !important;
	}
	/* stylelint-enable */
}

H1,
H2,
H3,
H4,
H5,
H6,
P {
	margin: 0;
	padding: 0;
	font-weight: 400;
}

OL,
UL {
	list-style: none;
}

A {
	color: inherit;
	text-decoration: none;
}

HTML SVG { /* stylelint-disable-line selector-max-type */
	display: block;
	width: 100%;
	height: auto;
}

BUTTON {
	border: 0;
	background: none;
	appearance: none;
	user-select: none;
}

INPUT,
BUTTON,
TEXTAREA,
SELECT {
	word-spacing: inherit;
	letter-spacing: inherit;
	font: inherit;
}

TEXTAREA {
	resize: none;
}

IMG {
	display: block;
	max-width: 100%;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	padding: 0;
	border: 0;
	white-space: nowrap;
	pointer-events: none;
}
