@use 'sass:color';
@use 'config' as *;

@forward 'fonts';

* {
	scrollbar-color: $king_tide $blue_emulsion;
	scrollbar-width: thin;

	&::-webkit-scrollbar {
		width: 10px;
	}

	&::-webkit-scrollbar-track {
		background: $blue_emulsion;
	}

	&::-webkit-scrollbar-thumb {
		border: 3px solid $blue_emulsion;
		border-radius: 10px;
		background-color: $king_tide;
	}
}

:root {
	--border_radius: #{rem($border_radius)};
	--transition_duration: 0.4s;
	--transition_easeing: ease-in-out;

	@include breakpoint(xl) {
		--border_radius: #{t2c($border_radius, xl)};
	}
}

*:focus {
	z-index: 2;
	outline: none !important;
	box-shadow:
		0 0 0 rem(2) color.scale($king_tide, $alpha: -30%),
		0 0 0 rem(6) color.scale($rouge_red, $alpha: -30%) !important;
}

BODY {
	background-color: $blue_emulsion;
	color: $nightmare;
	font-family: $font_main;
	font-size: locks(16, 28);
}

#__next {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	// stylelint-disable-next-line value-no-vendor-prefix, declaration-block-no-duplicate-properties
	min-height: -webkit-fill-available;
}

::selection {
	background-color: $rouge_red;
}
