@use 'config' as *;

:root {
	--border_radius: #{rem($border_radius)};
	--transition_duration: 0.4s;
	--transition_easeing: ease-in-out;

	@include breakpoint(xl) {
		--border_radius: #{t2c($border_radius, xl)};
	}
}

*:focus {
	outline: none !important;
	box-shadow:
		0 0 0 rem(2) $king_tide,
		0 0 0 rem(6) #ffb6c1 !important;
}

BODY {
	background-color: $blue_emulsion;
	color: $nightmare;
	font-family: $font_secondary;
	font-size: locks(16, 28);
}

::selection {
	background-color: $rouge_red;
}
