$base_font: 16;
$border_radius: 4;
$width_full: '1 / -1';

$sizes: (
	'xs': 320,
	's': 640,
	'm': 960,
	'l': 1280,
	'xl': 1440,
);

// colors
$white: #fff;
$crystal: rgb(255, 255, 255, 0);

// fonts
$font_main: ('Inconsolata', monospace);
$font_secondary: ('Raleway', sans-serif);
