$base_font: 16;
$border_radius: 4;
$width_full: '1 / -1';
$base_line_height: 1.5;

$sizes: (
	'xs': 320,
	's': 640,
	'm': 960,
	'l': 1280,
	'xl': 1440,
);

// colors
$white: #fff;
$crystal: rgb(255, 255, 255, 0);
$nightmare: #0f2417; // color
$blue_emulsion: #d0edf1; // bg
$king_tide: #26727e; // border
$rouge_red: #dd4a68; // parent bg

// fonts
$font_secondary: ('Inconsolata', monospace);
$font_main: ('Raleway', sans-serif);
