@use 'config' as *;

.tableButton {
	display: flex;
	max-width: 1.5em;
	margin: 0.2em;
	padding: 0.1em;
	border: 1px solid;
	color: $king_tide;
	cursor: pointer;

	SVG {
		fill: currentColor;
		stroke: currentColor;
	}
}
