@use 'config' as *;

.table {
	width: 100%;
	border-collapse: collapse;

	&_caption {
		text-align: left;
		text-transform: uppercase;
		font-weight: 700;
		line-height: 2;
	}

	&_head {
		padding-right: 0.2em;
		padding-left: 0.2em;
		font-size: 0.8em;
	}

	&_item {
		$item: compose(&);

		padding: 0.2em;
		text-align: center;

		&Name {
			composes: $item;
			width: 60%;
			text-align: left;
		}
	}

	&_total {
		$total: compose(&);

		padding: 0.2em;

		&Text {
			composes: $total;
			text-align: right;
			font-weight: 700;
		}

		&Amount {
			composes: $total;
			text-align: left;
			font-size: 1.5em;
		}
	}

	&_buttonGroup {
		text-align: center;
	}
}
